html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #fffaf3;
    -webkit-font-smoothing: antialiased; /* Font smoothing */
    -moz-osx-font-smoothing: grayscale;
}

/* Main content area */
.content {
    flex: 1;
    text-align: center;
    padding: 40px;
    position: relative;
 
    
}

/* About section */
.about-us {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 153, 182, 0.9);
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

/* Contact section */
.contact {
    max-width: 500px;
    margin: 20px auto;
    background: rgba(255, 153, 182, 0.9);
    color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

/* Headings for about and contact */
.about-us h2, .contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Paragraphs inside about and contact */
.about-us p, .contact p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* Background image for the about section */
.about-background {
    position: absolute;
    top: 1000;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    filter: brightness(80%); /* Darken the background slightly */
}